<div>
    <q-alert v-if="error" type="error">
        {{error.message}}

        <q-btn v-on:click="loadMessage" label="Retry" />
    </q-alert>

    <div v-if="messageSummary" v-loading="loading">

        <q-btn-group>

            <q-btn icon="save_alt" v-on:click="download" label="Download" />
        </q-btn-group>

        <div v-if="message">
            <table>
                <tr>
                    <td>From:</td>
                    <td>{{message.from}}</td>
                </tr>

                <tr>
                    <td>To:</td>
                    <td>{{message.to}}</td>
                </tr>
                <tr v-if="message.cc">
                    <td>Cc:</td>
                    <td>{{message.cc}}</td>
                </tr>
                <tr v-if="message.bcc">
                    <td>Bcc:</td>
                    <td>{{message.bcc}}</td>
                </tr>
                <tr>
                    <td>Subject:</td>
                    <td>{{message.subject}}</td>
                </tr>
            </table>
        </div>

        <q-tabs>


            <q-tab default slot="title" name="view">View</q-tab>
            <q-tab slot="title" name="headers">Headers</q-tab>
            <q-tab slot="title" name="parts">Parts</q-tab>

            <q-tab-pane name="view" keep-alive="true">
                <messageviewattachments :message="message" />
                <messageview-html :message="message" />
            </q-tab-pane>

            <q-tab-pane name="headers" keep-alive="true">
                <template v-if="message">
                    <headers :headers="message.headers" />
                </template>
            </q-tab-pane>

            <q-tab-pane name="parts" keep-alive="true">

                <template v-if="message">


                    <el-tree :data="message.parts" :props="{label: 'name', children: 'childParts', disabled: false, isLeaf: isLeaf}" @node-click="handleNodeClick" highlight-current default-expand-all empty-message="No parts"></el-tree>


                    <div v-if="selectedPart">

                        <q-tabs>
                            <q-tab default slot="title" name="headers">Headers</q-tab>
                            <q-tab slot="title" name="source">Source</q-tab>
                            <q-tab-pane name="headers"><headers :headers="selectedPart.headers" /></q-tab-pane>

                            <q-tab-pane name="source">

                                <messagepartsource :messageEntitySummary="selectedPart"></messagepartsource>
                            </q-tab-pane>

                        </q-tabs>

                    </div>
                </template>
            </q-tab-pane>
        </q-tabs>




    </div>

    <div v-if="!messageSummary">
        No message selected
    </div>

</div>